<div class="widget-wrap">
    <h3 class="widget-title">About Me</h3>
    <div class="widget">
        <p>Itsacoyote Workshop is a collection of miniature painting commission works and graphic design for the tabletop hobby.</p>
    </div>
</div>
