.post-title 
    max-width: 1000px
    margin: 0 auto

.post-page
    background-color: #fff
    padding: 40px 0
    margin-bottom: 40px

.post-content
    max-width: 1000px
    margin: 0 auto
    img
        display: block
        margin: 40px auto


@media screen and (max-width: 1000px)
    .post-page
        padding-left: 20px
        padding-right: 20px
    .post-page-media img
        width: 100%