<article class="main clearfix article-item">
    <div class="article-text">
        <h1 class="article-title"><%- item.title || "Untitled" %></h1>
        <div class="article-content">
            <%- item.content %>
        </div>
    </div>
</article>