.main-content-wrap.post
    .article-text h1
        &:hover
            color #46494e

.index
    .article-tag
        display inline

.article-item
    max-width 660px
    display inline-block
    clear both
    width 100%
    margin-bottom 15px
    box-sizing border-box
    border 1px solid #c1c1c1
    background-color #FBFBFB
    border-radius 3px
    box-shadow 0 1px 3px 0 rgba(0,0,0,.1),0 1px 1px 0 rgba(0,0,0,.1),0 2px 1px -1px rgba(0,0,0,.1)

    & > .article-link
        text-decoration none
        width 100%

    .article-media
        width 100%
        overflow hidden
        margin-bottom 20px
        
        img
            width 100%


    .article-text

    .article-title
        a
            text-decoration none
        h2
            color #797f88
            margin 0
            margin-top 5px
            font-size 1em

        .article-category-link
            text-decoration none
            color #797f88
            display: inline
            &:hover
                color #06B6D4
                text-decoration underline

        & h1
            text-decoration none
            margin-top 10px
            margin-bottom 0
            color #46494E
            font-size 1.5em
            font-weight bold
            word-wrap break-word

            &:hover
                color #38b7ea

    .article-content
        margin-top 20px
        color rgba(0,0,0, 0.8)

    .article-meta
        color #797f88
        padding 10px 0
        display inline-block

        a
            color #797f88

        .article-category
            text-transform uppercase
            margin 3px 0
            font-size 0.9em
            color #797F88
            font-weight normal

        .article-date
            font-size 0.9em
            color #797f88
            text-transform uppercase
            text-align right

    .article-tag
        h5
            margin 0

    .article-comments
        margin-top 30px
        padding 10px 20px
        border-top 1px solid #eaeaea
        h4
            display inline
            color #929292
        .muut
            margin-top -20px

    .article-text
        padding 10px 20px