.gallery-images
    text-align center

    img
        margin 20px 0
        width 100%

.bordering
    margin 20px 0
    border 0
    height 1px
    background-image linear-gradient(to right, rgba(0,0,0,0), rgba(202, 202, 202, 0.75), rgba(0,0,0,0))
