#page-nav
    margin: 40px auto;
    text-align: center;
    color: #999;
    overflow: hidden;

#page-nav a, #page-nav span
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    
    
#page-nav a
    color: #999;
    text-decoration: none;
    
#page-nav:before, #page-nav:after
    content: "";
    display: table;
    
#page-nav .current
    font-weight bold
    color #444
    
#page-nav a:hover
    background-color #a5a5a5
    color #fff
    border-radius 3px
    
#page-nav a.page-number
    width 20px
    margin 0 5px